<!--
Author: Connor
Purpose: Projects page
Description: lists all my current out of school projects. projects are passed in from a double layered array by the .js file
-->
<%- include partials/head.ejs %>
<h1 class="title"><%= title %></h1>
<table class = "projectList">
    <tr class = "columnHeads">
        <td>Project Name</td>
        <td>Project Description</td>
        <td>Project Group</td>
        <td>Project Status</td>
        <td>Project Language</td>
    </tr>
        <% for(var index in projects[0] ) { %>
    <tr>
            <td><%= projects[0][index]; %></td>
            <td><%= projects[1][index]; %></td>
            <td><%= projects[2][index]; %></td>
            <td><%= projects[3][index]; %></td>
            <td><%= projects[4][index]; %></td>
    </tr>
        <% } %>

</table>
<%- include partials/foot.ejs %>